
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to Power Grid Helper</h1>

</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>Banking</h2>
      <p> Manage your transactions with the bank </p>
      <p><a class="btn btn-default" href="/users/">Transactions &raquo;</a></p>
    </div>
    <div class="col-lg-4">
   </div>
    <div class="col-lg-4">
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

